div{
    display: inline-block;
    width: 280px;
    padding: 16px 16px 32px 0;
    margin-top: 20px;
    background-color: #0a2c48;
    border-radius: 10px;
    color: #fff;
}

div:hover{
    background-color: #2a4c68;
}

p{
    font-size: 18px;
    color: #c9d6ff;
}