* {
  box-sizing: border-box;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

body {
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "aside main main"
  "footer footer footer";
}

body {
  margin:0;
}

header { 
  grid-area: header;
  background-color: #03fcb1;
  padding: 10vh 0;
  color: white;
}

header > * {
  text-align: center;
}

header > h1 {
  margin-bottom: 8px;
}

nav {
  grid-area: nav;
  background-color: black;
  padding: 12px 0;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 48px;
}

nav a:first-of-type {
  margin-left: 32px;
}

aside {
  grid-area: aside;
  padding: 24px;
}

main {
  grid-area: main;
  padding: 24px;
}

footer{
  grid-area: footer;
  background-color: rgb(231, 231, 231);
}

footer > h2 {
  text-align: center;
  padding: 36px 0;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  body {
    grid-template-areas: 
    "header"
    "nav"
    "aside"
    "main"
    "footer"
    ;
  }

  body nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body nav a {
    margin-left: 0;
  }

  body nav a:first-of-type {
    margin-left: 0;
  }
}